<form id="organization-add-form" class="form-horizontal" role="form">
    <div class="form-group">
        <label for="code">编号</label>
        <input type="text" class="form-control input-sm" id="code" name="code"
               placeholder="...">
    </div>
    <div class="form-group">
        <label for="name">名称</label>
        <input type="text" class="form-control input-sm" id="name" name="name"
               placeholder="...">
    </div>
    <div class="form-group">
        <label for="fullPath">全路径编号</label>
        <input type="text" class="form-control input-sm" id="fullPath" name="fullPath" readonly>
    </div>
    <div class="form-group">
        <label for="fullName">全路径名称</label>
        <input type="input" class="form-control input-sm" id="fullName" name="fullName" readonly>
    </div>
    <div class="form-group">
        <label for="qq">部门负责人</label>
        <input type="input" class="form-control input-sm" id="username" placeholder="...">
        <input type="hidden" id="userId" name="user.id" placeholder="...">
        <button type="button" class="btn btn-sm btn-alt" data-toggle="modal" data-target="#selectUserModal" data-keyboard="false" data-backdrop="static">选择</button>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">提交</button>
    </div>
</form>
<div class="modal fade" id="selectUserModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">人员信息-选择</h4>
            </div>
            <div class="row modal-body">
                <div class="col-md-2">
                    <ul id="organizationTreeForSelectUser" class="ztree"></ul>
                </div>
                <div class="col-md-10" id="user-select-grid">

                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/module/organization/add.js"></script>
