<link href="css/metroStyle.css" rel="stylesheet">
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">人资主数据</a></li>
    <li class="active">部门列表</li>
    <li><a href="javascript:void(0)"
           onclick="addOrganization()">新增</a>
    </li>
    <li><a href="javascript:void(0)"
           onclick="editOrganization()">修改</a>
    </li>
    <li><a href="javascript:void(0)" onclick="deleteSelected()">删除</a></li>
</ol>
<div class="block-area">
    <div class="row m-container">
        <div class="col-md-2">
            <!-- Recent Posting -->
            <ul id="organizationTree" class="ztree"></ul>
        </div>
        <div class="col-md-10" id="organizationForm">

        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">删除确认</h4>
                </div>
                <div class="modal-body">
                    <p>确认删除选中的数据吗...</p>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-sm btn_delete">确认</button>
                        <button type="button" class="btn btn-sm" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/plugin/jquery.ztree.all.min.js"></script>
<script src="js/module/organization/index.js"></script>
