<div class="col-md-2" style="padding-left: 0;">
    <select class="select page-size">
        <option #if($page.pageSize == 5)
                selected
        #end>5
        </option>
        <option #if($page.pageSize == 10)
                selected
        #end>10
        </option>
        <option #if($page.pageSize == 20)
                selected
        #end>20
        </option>
        <option #if($page.pageSize == 50)
                selected
        #end>50
        </option>
        <option #if($page.pageSize == 100)
                selected
        #end>100
        </option>
    </select>
</div>
<div class="col-md-3">
    <h6>共${page.pages}页 / 共${page.total}条数据</h6>
</div>
<div class="btn-group pull-right">
    <input type="hidden" class="page-max" value="$!page.pages"/>
    <input type="hidden" class="page-num" value="$!page.pageNum"/>
## 首页
    #if($page.pages > 5 && $page.pageNum > 1)
        <button type="button" class="btn btn-sm btn-alt page-first"><i class="fa fa-angle-double-left"></i></button>
    #else
        <button type="button" class="btn btn-sm btn-alt page-first" disabled><i class="fa fa-angle-double-left"></i>
        </button>
    #end

## 上一页
    #if($page.pageNum > 1)
        <button type="button" class="btn btn-sm btn-alt page-pre"><i class="fa fa-angle-left"></i></button>
    #else
        <button type="button" class="btn btn-sm btn-alt page-pre" disabled><i class="fa fa-angle-left"></i></button>
    #end

## 页码
    #foreach($cnt in [1..$page.pages])
        <button type="button" class="btn btn-sm btn-alt page-index" value="$!cnt" #if($page.pageNum == $cnt)
                disabled
        #end>$!cnt</button>
    #end

## 下一页
    #if($page.pages > $page.pageNum)
        <button type="button" class="btn btn-sm btn-alt page-next"><i class="fa fa-angle-right"></i></button>
    #else
        <button type="button" class="btn btn-sm btn-alt page-next" disabled><i class="fa fa-angle-right"></i>
        </button>
    #end

## 尾页
    #if($page.pages > 5 && $page.pages > $page.pageNum)
        <button type="button" class="btn btn-sm btn-alt page-last"><i class="fa fa-angle-double-right"></i></button>
    #else
        <button type="button" class="btn btn-sm btn-alt page-last" disabled><i class="fa fa-angle-double-right"></i>
        </button>
    #end
</div>