<link href="css/jquery.datetimepicker.css" rel="stylesheet">
<div class="modal-dialog" style="width: 900px;">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">企业信息-新增</h4>
        </div>
        <div class="modal-body">
            <form id="corporation-add-form" class="form-horizontal" role="form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="sex" class="col-md-2 control-label">类别</label>

                    <div class="col-md-4">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="category" value="0">个人
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="category" value="1">公司
                            </label>
                        </div>
                    </div>
                    <label for="province" class="col-md-2 control-label">省市</label>

                    <div class="col-md-4">
                        <div class="col-md-6 m-b-15">
                            <select class="select" id="province" name="province">
                                #foreach($item in $provinces)
                                    <option value="$!item.name">$!item.name</option>
                                #end
                            </select>
                        </div>
                        <div class="col-md-6 m-b-15">
                            <select class="select" id="city" name="city">
                                #foreach($item in $cities)
                                    <option value="$!item.name">$!item.name</option>
                                #end
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="col-md-2 control-label">地址</label>

                    <div class="col-md-10">
                        <input type="text" class="form-control input-sm" id="address" name="address"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label">名称</label>

                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" id="name" name="name" placeholder="...">
                    </div>
                    <label for="tel" class="col-md-2 control-label">企业电话</label>

                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" id="tel" name="tel" placeholder="...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact" class="col-md-2 control-label">企业联系人</label>

                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" id="contact" name="contact" placeholder="...">
                    </div>
                    <label for="contactTelephone" class="col-md-2 control-label">企业联系人电话</label>

                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" id="contactTelephone" name="contactTelephone"
                               placeholder="...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="legalPerson" class="col-md-2 control-label">法人</label>

                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" id="legalPerson" name="legalPerson"
                               placeholder="...">
                    </div>
                    <label for="legalPersonTelephone" class="col-md-2 control-label">法人电话</label>

                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" id="legalPersonTelephone"
                               name="legalPersonTelephone" placeholder="...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="contactIdNumber" class="col-md-2 control-label">企业联系人身份证号</label>

                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" id="contactIdNumber" name="contactIdNumber"
                               placeholder="...">
                    </div>
                    <label for="legalPersonIdNumber" class="col-md-2 control-label">法人身份证号</label>

                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" id="legalPersonIdNumber"
                               name="legalPersonIdNumber" placeholder="...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="businessLicence" class="col-md-2 control-label">营业执照号码</label>

                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" id="businessLicence" name="businessLicence"
                               placeholder="...">
                    </div>
                    <label for="taxRegistrationCertificate" class="col-md-2 control-label">税务登记号码</label>

                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" id="taxRegistrationCertificate"
                               name="taxRegistrationCertificate" placeholder="...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="organizationCodeCertificate" class="col-md-2 control-label">组织机构代码证</label>

                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" id="organizationCodeCertificate"
                               name="organizationCodeCertificate" placeholder="...">
                    </div>
                    <label for="accountOpeningLicense" class="col-md-2 control-label">银行开户证</label>

                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" id="accountOpeningLicense"
                               name="accountOpeningLicense" placeholder="...">
                    </div>
                </div>


                <div class="form-group">
                    <label for="level" class="col-md-2 control-label">等级</label>

                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" id="level" name="level" placeholder="...">
                    </div>
                    <label for="logo" class="col-md-2 control-label">企业LOGO</label>

                    <div class="col-md-4">
                        <input type="file" class="form-control input-sm" id="logoFile" name="logoFile" placeholder="...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="blcFile" class="col-md-2 control-label">营业执照副本</label>

                    <div class="col-md-4">
                        <input type="file" class="form-control input-sm" id="blcFile" name="blcFile" placeholder="...">
                    </div>
                    <label for="trccFile" class="col-md-2 control-label">税务登记号副本</label>

                    <div class="col-md-4">
                        <input type="file" class="form-control input-sm" id="trccFile" name="trccFile"
                               placeholder="...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="occFile" class="col-md-2 control-label">组织机构代码证副本</label>

                    <div class="col-md-4">
                        <input type="file" class="form-control input-sm" id="occFile" name="occFile" placeholder="...">
                    </div>
                    <label for="aolcFile" class="col-md-2 control-label">银行开户副本</label>

                    <div class="col-md-4">
                        <input type="file" class="form-control input-sm" id="aolcFile" name="aolcFile"
                               placeholder="...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lpicucFile" class="col-md-2 control-label">法人身份证正面</label>

                    <div class="col-md-4">
                        <input type="file" class="form-control input-sm" id="lpicucFile" name="lpicucFile"
                               placeholder="...">
                    </div>
                    <label for="lpicdcFile" class="col-md-2 control-label">法人身份证背面</label>

                    <div class="col-md-4">
                        <input type="file" class="form-control input-sm" id="lpicdcFile" name="lpicdcFile"
                               placeholder="...">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cicucFile" class="col-md-2 control-label">企业联系人身份证正面</label>

                    <div class="col-md-4">
                        <input type="file" class="form-control input-sm" id="cicucFile" name="cicucFile"
                               placeholder="...">
                    </div>
                    <label for="cicdcFile" class="col-md-2 control-label">企业联系人身份证背面</label>

                    <div class="col-md-4">
                        <input type="file" class="form-control input-sm" id="cicdcFile" name="cicdcFile"
                               placeholder="...">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-alt" id="corporation-add-submit">保存</button>
            <button type="button" class="btn btn-sm btn-alt" data-dismiss="modal">关闭</button>
        </div>
    </div>
</div>
<script src="js/plugin/jquery.datetimepicker.full.js"></script>
<script src="js/module/corporation/add.js"></script>
