<div class="modal-dialog" style="width: 900px;">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">企业信息-编辑</h4>
        </div>
        <div class="modal-body">
            <form id="corporation-edit-form" class="form-horizontal" role="form" enctype="multipart/form-data">
                <input type="hidden" name="id" value="$!corporation.id"/>
                <input type="hidden" name="version  " value="$!corporation.version"/>
                <div class="form-group">
                    <label for="sex" class="col-md-2 control-label">类别</label>

                    <div class="col-md-3">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="category" value="0" #if($corporation.category == '0')
                                       checked
                                #end>个人
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="category" value="1" #if($corporation.category == '1')
                                       checked
                                #end>公司
                            </label>
                        </div>
                    </div>
                    <label for="province" class="col-md-2 control-label">省市</label>

                    <div class="col-md-3">
                        <div class="col-md-6 m-b-15">
                            <select class="select" id="provinceCode" name="provinceCode">
                                #foreach($item in $provinces)
                                    <option value="$!item.area_id" #if($corporation.provinceCode == $item.area_id)
                                            selected #end>$!item.name</option>
                                #end
                            </select>
                        </div>
                        <div class="col-md-6 m-b-15">
                            <select class="select" id="cityCode" name="cityCode">
                                #foreach($item in $cities)
                                    <option value="$!item.area_id" #if($corporation.cityCode == $item.area_id)
                                            selected #end>$!item.name</option>
                                #end
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="col-md-2 control-label">地址</label>

                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="address" name="address"
                               value="$!corporation.address"/>
                    </div>

                    <label for="level" class="col-md-2 control-label">等级</label>

                    <div class="col-md-3">
                        <select class="select" id="level" name="level">
                            <option value="A" #if($corporation.level == 'A') selected #end>普通会员</option>
                            <option value="B" #if($corporation.level == 'B') selected #end>铜牌会员</option>
                            <option value="C" #if($corporation.level == 'C') selected #end>银牌会员</option>
                            <option value="D" #if($corporation.level == 'D') selected #end>金牌会员</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label">名称</label>

                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="name" name="name" placeholder="..."
                               value="$!corporation.name">
                    </div>
                    <label for="tel" class="col-md-2 control-label">企业电话</label>

                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="tel" name="tel" placeholder="..."
                               value="$!corporation.tel">
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact" class="col-md-2 control-label">企业联系人</label>

                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="contact" name="contact" placeholder="..."
                               value="$!corporation.contact">
                    </div>
                    <label for="contactTelephone" class="col-md-2 control-label">企业联系人电话</label>

                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="contactTelephone" name="contactTelephone"
                               placeholder="..." value="$!corporation.contactTelephone">
                    </div>
                </div>
                <div class="form-group">
                    <label for="legalPerson" class="col-md-2 control-label">法人</label>

                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="legalPerson" name="legalPerson"
                               placeholder="..." value="$!corporation.legalPerson">
                    </div>
                    <label for="legalPersonTelephone" class="col-md-2 control-label">法人电话</label>

                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="legalPersonTelephone"
                               name="legalPersonTelephone" placeholder="..." value="$!corporation.legalPersonTelephone">
                    </div>
                </div>
                <div class="form-group">
                    <label for="contactIdNumber" class="col-md-2 control-label">企业联系人身份证号</label>

                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="contactIdNumber" name="contactIdNumber"
                               placeholder="..." value="$!corporation.contactIdNumber">
                    </div>
                    <label for="legalPersonIdNumber" class="col-md-2 control-label">法人身份证号</label>

                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="legalPersonIdNumber"
                               name="legalPersonIdNumber" placeholder="..." value="$!corporation.legalPersonIdNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label for="businessLicence" class="col-md-2 control-label">营业执照号码</label>

                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="businessLicence" name="businessLicence"
                               placeholder="..." value="$!corporation.businessLicence">
                    </div>
                    <label for="taxRegistrationCertificate" class="col-md-2 control-label">税务登记号码</label>

                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="taxRegistrationCertificate"
                               name="taxRegistrationCertificate" placeholder="..."
                               value="$!corporation.taxRegistrationCertificate">
                    </div>
                </div>
                <div class="form-group">
                    <label for="organizationCodeCertificate" class="col-md-2 control-label">组织机构代码证</label>

                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="organizationCodeCertificate"
                               name="organizationCodeCertificate" placeholder="..."
                               value="$!corporation.organizationCodeCertificate">
                    </div>
                    <label for="accountOpeningLicense" class="col-md-2 control-label">银行开户证</label>

                    <div class="col-md-3">
                        <input type="text" class="form-control input-sm" id="accountOpeningLicense"
                               name="accountOpeningLicense" placeholder="..."
                               value="$!corporation.accountOpeningLicense">
                    </div>
                </div>

                <fieldset>
                    <legend style="color: #ffffff;font-size: 16px;">资质图片</legend>
                    <div class="fileupload fileupload-new col-md-3" data-provides="fileupload">
                        <div class="fileupload-preview thumbnail form-control">
                            #if($corporation.logo)
                                <img src="ext/$!corporation.logo" alt="">
                            #end
                        </div>
                        <div>
                            <span class="btn btn-file btn-alt btn-sm">
                                <span class="fileupload-new">企业LOGO</span>
                                <span class="fileupload-exists">企业LOGO</span>
                                <input type="file" id="logoFile" name="logoFile"/>
                            </span>
                            <a href="#" class="btn fileupload-exists btn-sm" data-dismiss="fileupload">删除</a>
                        </div>
                    </div>
                    <div class="fileupload fileupload-new col-md-3" data-provides="fileupload">
                        <div class="fileupload-preview thumbnail form-control">
                            #if($corporation.businessLicenceCopy)
                                <img src="ext/$!corporation.businessLicenceCopy" alt="">
                            #end
                        </div>
                        <div>
                            <span class="btn btn-file btn-alt btn-sm">
                                <span class="fileupload-new">营业执照副本</span>
                                <span class="fileupload-exists">营业执照副本</span>
                                <input type="file" id="blcFile" name="blcFile"/>
                            </span>
                            <a href="#" class="btn fileupload-exists btn-sm" data-dismiss="fileupload">删除</a>
                        </div>
                    </div>
                    <div class="fileupload fileupload-new col-md-3" data-provides="fileupload">
                        <div class="fileupload-preview thumbnail form-control">
                            #if($corporation.taxRegistrationCertificateCopy)
                                <img src="ext/$!corporation.taxRegistrationCertificateCopy" alt="">
                            #end
                        </div>
                        <div>
                            <span class="btn btn-file btn-alt btn-sm">
                                <span class="fileupload-new">税务登记号副本</span>
                                <span class="fileupload-exists">税务登记号副本</span>
                                <input type="file" id="trccFile" name="trccFile"/>
                            </span>
                            <a href="#" class="btn fileupload-exists btn-sm" data-dismiss="fileupload">删除</a>
                        </div>
                    </div>
                    <div class="fileupload fileupload-new col-md-3" data-provides="fileupload">
                        <div class="fileupload-preview thumbnail form-control">
                            #if($corporation.organizationCodeCertificateCopy)
                                <img src="ext/$!corporation.organizationCodeCertificateCopy" alt="">
                            #end
                        </div>
                        <div>
                            <span class="btn btn-file btn-alt btn-sm">
                                <span class="fileupload-new">组织机构代码证副本</span>
                                <span class="fileupload-exists">组织机构代码证副本</span>
                                <input type="file" id="occFile" name="occFile"/>
                            </span>
                            <a href="#" class="btn fileupload-exists btn-sm" data-dismiss="fileupload">删除</a>
                        </div>
                    </div>
                    <div class="fileupload fileupload-new col-md-3" data-provides="fileupload">
                        <div class="fileupload-preview thumbnail form-control">
                            #if($corporation.accountOpeningLicenseCopy)
                                <img src="ext/$!corporation.accountOpeningLicenseCopy" alt="">
                            #end
                        </div>
                        <div>
                            <span class="btn btn-file btn-alt btn-sm">
                                <span class="fileupload-new">银行开户副本</span>
                                <span class="fileupload-exists">银行开户副本</span>
                                <input type="file" id="aolcFile" name="aolcFile"/>
                            </span>
                            <a href="#" class="btn fileupload-exists btn-sm" data-dismiss="fileupload">删除</a>
                        </div>
                    </div>
                    <div class="fileupload fileupload-new col-md-3" data-provides="fileupload">
                        <div class="fileupload-preview thumbnail form-control">
                            #if($corporation.legalPersonIdentificationCardUpCopy)
                                <img src="ext/$!corporation.legalPersonIdentificationCardUpCopy" alt="">
                            #end
                        </div>
                        <div>
                            <span class="btn btn-file btn-alt btn-sm">
                                <span class="fileupload-new">法人身份证正面</span>
                                <span class="fileupload-exists">法人身份证正面</span>
                                <input type="file" id="lpicucFile" name="lpicucFile"/>
                            </span>
                            <a href="#" class="btn fileupload-exists btn-sm" data-dismiss="fileupload">删除</a>
                        </div>
                    </div>
                    <div class="fileupload fileupload-new col-md-3" data-provides="fileupload">
                        <div class="fileupload-preview thumbnail form-control">
                            #if($corporation.legalPersonIdentificationCardDownCopy)
                                <img src="ext/$!corporation.legalPersonIdentificationCardDownCopy" alt="">
                            #end
                        </div>
                        <div>
                            <span class="btn btn-file btn-alt btn-sm">
                                <span class="fileupload-new">法人身份证背面</span>
                                <span class="fileupload-exists">法人身份证背面</span>
                                <input type="file" id="lpicdcFile" name="lpicdcFile"/>
                            </span>
                            <a href="#" class="btn fileupload-exists btn-sm" data-dismiss="fileupload">删除</a>
                        </div>
                    </div>
                    <div class="fileupload fileupload-new col-md-3" data-provides="fileupload">
                        <div class="fileupload-preview thumbnail form-control">
                            #if($corporation.contactIdentificationCardUpCopy)
                                <img src="ext/$!corporation.contactIdentificationCardUpCopy" alt="">
                            #end
                        </div>
                        <div>
                            <span class="btn btn-file btn-alt btn-sm">
                                <span class="fileupload-new">企业联系人身份证正面</span>
                                <span class="fileupload-exists">企业联系人身份证正面</span>
                                <input type="file" id="cicucFile" name="cicucFile"/>
                            </span>
                            <a href="#" class="btn fileupload-exists btn-sm" data-dismiss="fileupload">删除</a>
                        </div>
                    </div>
                    <div class="fileupload fileupload-new col-md-3" data-provides="fileupload">
                        <div class="fileupload-preview thumbnail form-control">
                            #if($corporation.contactIdentificationCardDownCopy)
                                <img src="ext/$!corporation.contactIdentificationCardDownCopy" alt="">
                            #end
                        </div>
                        <div>
                            <span class="btn btn-file btn-alt btn-sm">
                                <span class="fileupload-new">企业联系人身份证背面</span>
                                <span class="fileupload-exists">企业联系人身份证背面</span>
                                <input type="file" id="cicdcFile" name="cicdcFile"/>
                            </span>
                            <a href="#" class="btn fileupload-exists btn-sm" data-dismiss="fileupload">删除</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-alt" id="corporation-edit-submit">保存</button>
            <button type="button" class="btn btn-sm btn-alt" data-dismiss="modal">关闭</button>
        </div>
    </div>
</div>
<script src="js/module/corporation/edit.js"></script>
