<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoqiaoli.mapper.AccountMapper">
    <resultMap id="BaseResultMap" type="com.xiaoqiaoli.domain.AccountDO">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="USERNAME" property="username" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="CHAR"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
        <result column="MODIFIER" property="modifier" jdbcType="VARCHAR"/>
        <result column="MODIFIED" property="modified" jdbcType="TIMESTAMP"/>
        <result column="VERSION" property="version" jdbcType="INTEGER"/>
        <association property="user" column="USER_ID" javaType="com.xiaoqiaoli.domain.UserDO">
            <id column="USER_ID" property="id" jdbcType="VARCHAR"/>
            <result column="REAl_NAME" property="realName" jdbcType="VARCHAR"/>
            <result column="SEX" property="sex" jdbcType="VARCHAR"/>
            <result column="BIRTHDAY" property="birthday" jdbcType="DATE"/>
            <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR"/>
            <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
            <result column="QQ" property="qq" jdbcType="VARCHAR"/>
            <result column="WX" property="wx" jdbcType="VARCHAR"/>
            <result column="WEI_BO" property="weiBo" jdbcType="VARCHAR"/>
            <result column="LEVEL" property="level" jdbcType="CHAR"/>
        </association>
    </resultMap>
    <select id="get" resultMap="BaseResultMap">
        SELECT
        T1.ID, T1.USERNAME, T1.PASSWORD, T1.STATUS, T1.CREATOR, T1.CREATED, T1.MODIFIER, T1.MODIFIED, T1.VERSION,
        T2.REAL_NAME, T2.SEX, T2.BIRTHDAY, T2.TELEPHONE, T2.EMAIL, T2.QQ, T2.WX, T2.WEI_BO, T2.LEVEL
        FROM mdc_account T1
        LEFT JOIN mdc_user T2 ON T1.USER_ID = T2.ID
        WHERE T1.ID = #{id}
        AND T1.STATUS = 1
    </select>
    <select id="getOne" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        T1.ID, T1.USERNAME, T1.PASSWORD, T1.STATUS, T1.CREATOR, T1.CREATED, T1.MODIFIER, T1.MODIFIED, T1.VERSION,
        T2.REAL_NAME, T2.SEX, T2.BIRTHDAY, T2.TELEPHONE, T2.EMAIL, T2.QQ, T2.WX, T2.WEI_BO, T2.LEVEL
        FROM mdc_account T1
        LEFT JOIN mdc_user T2 ON T1.USER_ID = T2.ID
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <if test="username != null and username != ''">
                T1.USERNAME = #{username}
            </if>
            <if test="userId != null">
                AND T2.ID = #{userId}
            </if>
            AND T1.STATUS = 1
        </trim>
    </select>
    <select id="findByMultiIds" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        ID, USERNAME, PASSWORD, STATUS, CREATOR, CREATED, MODIFIER, MODIFIED, VERSION
        FROM mdc_account
        WHERE ID IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND STATUS = 1
    </select>
    <select id="find" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        T1.ID, T1.USERNAME, T1.PASSWORD, T1.STATUS, T1.CREATOR, T1.CREATED, T1.MODIFIER, T1.MODIFIED, T1.VERSION,
        T2.REAL_NAME, T2.SEX, T2.BIRTHDAY, T2.TELEPHONE, T2.EMAIL, T2.QQ, T2.WX, T2.WEI_BO, T2.LEVEL
        FROM mdc_account T1
        LEFT JOIN mdc_user T2 ON T1.USER_ID = T2.ID
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <if test="username != null and username != ''">
                T1.USERNAME = #{username}
            </if>
            <if test="user != null and user.id != null and user.id != ''">
                AND T2.ID = #{user.id}
            </if>
            <if test="user != null and user.realName != null and user.realName != '' ">
                AND T2.REAL_NAME like concat('%',#{user.realName}, '%')
            </if>
            AND STATUS = 1
        </trim>
    </select>
    <insert id="insert" parameterType="com.xiaoqiaoli.domain.AccountDO">
        INSERT INTO mdc_account(
        ID,
        USERNAME,
        PASSWORD,
        <if test="user != null">
            USER_ID,
        </if>
        STATUS,
        CREATOR_ID,
        CREATED,
        MODIFIER_ID,
        MODIFIED,
        VERSION
        ) VALUES (
        #{id},
        #{username},
        #{password},
        <if test="user != null">
            #{user.id},
        </if>
        #{status},
        #{creator},
        now(),
        #{modifier},
        now(),
        #{version}
        );
    </insert>
    <insert id="batchInsert" parameterType="java.util.Map">
        INSERT INTO mdc_account(
        ID,
        USERNAME,
        PASSWORD,
        <if test="user != null">
            USER_ID,
        </if>
        STATUS,
        CREATOR_ID,
        CREATED,
        MODIFIER_ID,
        MODIFIED,
        VERSION
        ) VALUES
        <foreach collection="collection" item="item" index="index"
                 separator=",">
            (
            #{item.id},
            #{item.username},
            #{item.password},
            <if test="item.user != null">
                #{item.user.id},
            </if>
            #{item.status},
            #{item.creator},
            now(),
            #{item.modifier},
            now(),
            #{item.version}
            )
        </foreach>
    </insert>
    <update id="update" parameterType="com.xiaoqiaoli.domain.AccountDO">
        UPDATE mdc_account
        <set>
            USERNAME = #{username},
            <if test="user != null">
                USER_ID = #{user.id},
            </if>
            MODIFIER = #{modifier},
            MODIFIED = now(),
            VERSION = #{version} + 1
        </set>
        WHERE ID = #{id} AND VERSION = #{version}
    </update>
    <update id="updatePassword" parameterType="com.xiaoqiaoli.domain.AccountDO">
        UPDATE mdc_account
        <set>
            PASSWORD = #{password},
            MODIFIER = #{modifier},
            MODIFIED = now(),
            VERSION = #{version} + 1
        </set>
        WHERE ID = #{id} AND VERSION = #{version}
    </update>
    <update id="batchUpdate" parameterType="java.util.Map">
        <foreach collection="collection" item="item" index="index" open="" close="" separator=";">
            UPDATE mdc_account
            <set>
                USERNAME = #{item.username},
                <if test="item.user != null">
                    USER_ID = #{item.user.id},
                </if>
                MODIFIER = #{item.modifier},
                MODIFIED = now(),
                VERSION = #{item.version} + 1
            </set>
            WHERE ID = #{item.id} AND VERSION = #{item.version}
        </foreach>
    </update>
    <delete id="delete" parameterType="com.xiaoqiaoli.domain.AccountDO">
        UPDATE mdc_account
        <set>
            STATUS = 0,
            MODIFIER = #{modifier},
            MODIFIED = now(),
            VERSION = #{version} + 1
        </set>
        WHERE ID = #{id} AND VERSION = #{version}
    </delete>
    <delete id="batchDelete" parameterType="java.util.Map">
        <foreach collection="collection" item="item" index="index" open="" close="" separator=";">
            UPDATE mdc_account
            <set>
                STATUS = 0,
                MODIFIER = #{item.modifier},
                MODIFIED = now(),
                VERSION = #{item.version} + 1
            </set>
            WHERE ID = #{item.id} AND VERSION = #{item.version}
        </foreach>
    </delete>
</mapper>