<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoqiaoli.mapper.CorporationMapper">
    <resultMap id="BaseResultMap" type="com.xiaoqiaoli.domain.CorporationDO">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="CATEGORY" property="category" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="TEL" property="tel" jdbcType="VARCHAR"/>
        <result column="CONTACT" property="contact" jdbcType="VARCHAR"/>
        <result column="CONTACT_TELEPHONE" property="contactTelephone" jdbcType="INTEGER"/>
        <result column="LEGAL_PERSON" property="legalPerson" jdbcType="CHAR"/>
        <result column="LEGAL_PERSON_TELEPHONE" property="legalPersonTelephone" jdbcType="VARCHAR"/>
        <result column="COUNTRY" property="country" jdbcType="VARCHAR"/>
        <result column="COUNTRY_CODE" property="countryCode" jdbcType="VARCHAR"/>
        <result column="PROVINCE" property="province" jdbcType="VARCHAR"/>
        <result column="PROVINCE_CODE" property="provinceCode" jdbcType="VARCHAR"/>
        <result column="CITY" property="city" jdbcType="VARCHAR"/>
        <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR"/>
        <result column="DISTRICT" property="district" jdbcType="VARCHAR"/>
        <result column="DISTRICT_CODE" property="districtCode" jdbcType="VARCHAR"/>
        <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
        <result column="CONTACT_ID_NUMBER" property="contactIdNumber" jdbcType="VARCHAR"/>
        <result column="LEGAL_PERSON_ID_NUMBER" property="legalPersonIdNumber" jdbcType="VARCHAR"/>
        <result column="BUSINESS_LICENCE" property="businessLicence" jdbcType="VARCHAR"/>
        <result column="TAX_REGISTRATION_CERTIFICATE" property="taxRegistrationCertificate" jdbcType="VARCHAR"/>
        <result column="ORGANIZATION_CODE_CERTIFICATE" property="organizationCodeCertificate" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_OPENING_LICENSE" property="accountOpeningLicense" jdbcType="VARCHAR"/>
        <result column="LOGO" property="logo" jdbcType="VARCHAR"/>
        <result column="BUSINESS_LICENCE_COPY" property="businessLicenceCopy" jdbcType="VARCHAR"/>
        <result column="TAX_REGISTRATION_CERTIFICATE_COPY" property="taxRegistrationCertificateCopy"
                jdbcType="VARCHAR"/>
        <result column="ORGANIZATION_CODE_CERTIFICATE_COPY" property="organizationCodeCertificateCopy"
                jdbcType="VARCHAR"/>
        <result column="ACCOUNT_OPENING_LICENSE_COPY" property="accountOpeningLicenseCopy" jdbcType="VARCHAR"/>
        <result column="LEGAL_PERSON_IDENTIFICATION_CARD_UP_COPY" property="legalPersonIdentificationCardUpCopy"
                jdbcType="VARCHAR"/>
        <result column="LEGAL_PERSON_IDENTIFICATION_CARD_DOWN_COPY" property="legalPersonIdentificationCardDownCopy"
                jdbcType="VARCHAR"/>
        <result column="CONTACT_IDENTIFICATION_CARD_UP_COPY" property="contactIdentificationCardUpCopy"
                jdbcType="VARCHAR"/>
        <result column="CONTACT_IDENTIFICATION_CARD_DOWN_COPY" property="contactIdentificationCardDownCopy"
                jdbcType="VARCHAR"/>
        <result column="LEVEL" property="level" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
        <result column="MODIFIER" property="modifier" jdbcType="VARCHAR"/>
        <result column="MODIFIED" property="modified" jdbcType="TIMESTAMP"/>
        <result column="VERSION" property="version" jdbcType="INTEGER"/>
    </resultMap>
    <select id="get" resultMap="BaseResultMap">
        SELECT
        ID, CATEGORY, NAME, TEL,CONTACT, CONTACT_TELEPHONE, LEGAL_PERSON, LEGAL_PERSON_TELEPHONE, COUNTRY, COUNTRY_CODE,
        PROVINCE, PROVINCE_CODE, CITY, CITY_CODE, DISTRICT, DISTRICT_CODE, ADDRESS, CONTACT_ID_NUMBER, LEGAL_PERSON_ID_NUMBER, BUSINESS_LICENCE,
        TAX_REGISTRATION_CERTIFICATE, ORGANIZATION_CODE_CERTIFICATE, ACCOUNT_OPENING_LICENSE, LOGO, BUSINESS_LICENCE_COPY, TAX_REGISTRATION_CERTIFICATE_COPY,
        ORGANIZATION_CODE_CERTIFICATE_COPY, ACCOUNT_OPENING_LICENSE_COPY, LEGAL_PERSON_IDENTIFICATION_CARD_UP_COPY, LEGAL_PERSON_IDENTIFICATION_CARD_DOWN_COPY,
        CONTACT_IDENTIFICATION_CARD_UP_COPY, CONTACT_IDENTIFICATION_CARD_DOWN_COPY, LEVEL, STATUS, CREATOR, CREATED, MODIFIER, MODIFIED, VERSION
        FROM mdc_corporation
        WHERE ID = #{id}
        AND STATUS = 1
    </select>
    <select id="findByMultiIds" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        ID, CATEGORY, NAME, TEL,CONTACT, CONTACT_TELEPHONE, LEGAL_PERSON, LEGAL_PERSON_TELEPHONE, COUNTRY, COUNTRY_CODE,
        PROVINCE, PROVINCE_CODE, CITY, CITY_CODE, DISTRICT, DISTRICT_CODE, ADDRESS, CONTACT_ID_NUMBER, LEGAL_PERSON_ID_NUMBER, BUSINESS_LICENCE,
        TAX_REGISTRATION_CERTIFICATE, ORGANIZATION_CODE_CERTIFICATE, ACCOUNT_OPENING_LICENSE, LOGO, BUSINESS_LICENCE_COPY, TAX_REGISTRATION_CERTIFICATE_COPY,
        ORGANIZATION_CODE_CERTIFICATE_COPY, ACCOUNT_OPENING_LICENSE_COPY, LEGAL_PERSON_IDENTIFICATION_CARD_UP_COPY, LEGAL_PERSON_IDENTIFICATION_CARD_DOWN_COPY,
        CONTACT_IDENTIFICATION_CARD_UP_COPY, CONTACT_IDENTIFICATION_CARD_DOWN_COPY, LEVEL, STATUS, CREATOR, CREATED, MODIFIER, MODIFIED, VERSION
        FROM mdc_corporation
        WHERE ID IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND STATUS = 1
    </select>
    <select id="find" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        ID, CATEGORY, NAME, TEL,CONTACT, CONTACT_TELEPHONE, LEGAL_PERSON, LEGAL_PERSON_TELEPHONE, COUNTRY, COUNTRY_CODE,
        PROVINCE, PROVINCE_CODE, CITY, CITY_CODE, DISTRICT, DISTRICT_CODE, ADDRESS, CONTACT_ID_NUMBER, LEGAL_PERSON_ID_NUMBER, BUSINESS_LICENCE,
        TAX_REGISTRATION_CERTIFICATE, ORGANIZATION_CODE_CERTIFICATE, ACCOUNT_OPENING_LICENSE, LOGO, BUSINESS_LICENCE_COPY, TAX_REGISTRATION_CERTIFICATE_COPY,
        ORGANIZATION_CODE_CERTIFICATE_COPY, ACCOUNT_OPENING_LICENSE_COPY, LEGAL_PERSON_IDENTIFICATION_CARD_UP_COPY, LEGAL_PERSON_IDENTIFICATION_CARD_DOWN_COPY,
        CONTACT_IDENTIFICATION_CARD_UP_COPY, CONTACT_IDENTIFICATION_CARD_DOWN_COPY, LEVEL, STATUS, CREATOR, CREATED, MODIFIER, MODIFIED, VERSION
        FROM mdc_corporation
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="name != null and code != ''">
                AND NAME LIKE CONCAT('%', #{code}, '%')
            </if>
            <if test="contact != null and contact != ''">
                AND CONTACT LIKE CONCAT('%',#{contact},'%')
            </if>
            <if test="legalPerson != null and legalPerson != ''">
                AND LEGAL_PERSON LIKE CONCAT('%',#{legalPerson},'%')
            </if>
            AND STATUS = 1
        </trim>
    </select>
    <insert id="insert" parameterType="com.xiaoqiaoli.domain.CorporationDO">
        INSERT INTO mdc_corporation(
        ID, CATEGORY, NAME, TEL,CONTACT, CONTACT_TELEPHONE, LEGAL_PERSON, LEGAL_PERSON_TELEPHONE, COUNTRY, COUNTRY_CODE,
        PROVINCE, PROVINCE_CODE, CITY, CITY_CODE, DISTRICT, DISTRICT_CODE, ADDRESS, CONTACT_ID_NUMBER, LEGAL_PERSON_ID_NUMBER, BUSINESS_LICENCE,
        TAX_REGISTRATION_CERTIFICATE, ORGANIZATION_CODE_CERTIFICATE, ACCOUNT_OPENING_LICENSE, LOGO, BUSINESS_LICENCE_COPY, TAX_REGISTRATION_CERTIFICATE_COPY,
        ORGANIZATION_CODE_CERTIFICATE_COPY, ACCOUNT_OPENING_LICENSE_COPY, LEGAL_PERSON_IDENTIFICATION_CARD_UP_COPY, LEGAL_PERSON_IDENTIFICATION_CARD_DOWN_COPY,
        CONTACT_IDENTIFICATION_CARD_UP_COPY, CONTACT_IDENTIFICATION_CARD_DOWN_COPY, LEVEL, STATUS, CREATOR, CREATED, MODIFIER, MODIFIED, VERSION
        ) VALUES (
        #{id},
        #{category},
        #{name},
        #{tel},
        #{contact},
        #{contactTelephone},
        #{legalPerson},
        #{legalPersonTelephone},
        #{country},
        #{countryCode},
        #{province},
        #{provinceCode},
        #{city},
        #{cityCode},
        #{district},
        #{districtCode},
        #{address},
        #{contactIdNumber},
        #{legalPersonIdNumber},
        #{businessLicence},
        #{taxRegistrationCertificate},
        #{organizationCodeCertificate},
        #{accountOpeningLicense},
        #{logo},
        #{businessLicenceCopy},
        #{taxRegistrationCertificateCopy},
        #{organizationCodeCertificateCopy},
        #{accountOpeningLicenseCopy},
        #{legalPersonIdentificationCardUpCopy},
        #{legalPersonIdentificationCardDownCopy},
        #{contactIdentificationCardUpCopy},
        #{contactIdentificationCardDownCopy},
        #{level},
        #{status},
        #{creator},
        now(),
        #{modifier},
        now(),
        2
        );
    </insert>
    <update id="update" parameterType="com.xiaoqiaoli.domain.CorporationDO">
        UPDATE mdc_corporation
        <set>
            CATEGORY = #{category},
            NAME = #{name},
            TEL = #{tel},
            CONTACT = #{contact},
            CONTACT_TELEPHONE = #{contactTelephone},
            LEGAL_PERSON = #{legalPerson},
            LEGAL_PERSON_TELEPHONE = #{legalPersonTelephone},
            COUNTRY = #{country},
            COUNTRY_CODE = #{countryCode},
            PROVINCE = #{province},
            PROVINCE_CODE = #{provinceCode},
            CITY = #{city},
            CITY_CODE = #{cityCode},
            DISTRICT = #{district},
            DISTRICT_CODE = #{districtCode},
            ADDRESS = #{address},
            CONTACT_ID_NUMBER = #{contactIdNumber},
            LEGAL_PERSON_ID_NUMBER = #{legalPersonIdNumber},
            BUSINESS_LICENCE = #{businessLicence},
            TAX_REGISTRATION_CERTIFICATE = #{taxRegistrationCertificate},
            ORGANIZATION_CODE_CERTIFICATE = #{organizationCodeCertificate},
            ACCOUNT_OPENING_LICENSE = #{accountOpeningLicense},
            LOGO = #{logo},
            BUSINESS_LICENCE_COPY = #{businessLicenceCopy},
            TAX_REGISTRATION_CERTIFICATE_COPY = #{taxRegistrationCertificateCopy},
            ORGANIZATION_CODE_CERTIFICATE_COPY = #{organizationCodeCertificateCopy},
            ACCOUNT_OPENING_LICENSE_COPY = #{accountOpeningLicenseCopy},
            LEGAL_PERSON_IDENTIFICATION_CARD_UP_COPY = #{legalPersonIdentificationCardUpCopy},
            LEGAL_PERSON_IDENTIFICATION_CARD_DOWN_COPY = #{legalPersonIdentificationCardDownCopy},
            CONTACT_IDENTIFICATION_CARD_UP_COPY = #{contactIdentificationCardUpCopy},
            CONTACT_IDENTIFICATION_CARD_DOWN_COPY = #{contactIdentificationCardDownCopy},
            MODIFIER = #{modifier},
            MODIFIED = now(),
            VERSION = #{version} + 1
        </set>
        WHERE ID = #{id} AND VERSION = #{version}
    </update>
    <update id="adjust" parameterType="com.xiaoqiaoli.domain.CorporationDO">
        UPDATE mdc_corporation
        <set>
            LEVEL = #{level},
            MODIFIER = #{modifier},
            MODIFIED = now(),
            VERSION = #{version} + 1
        </set>
        WHERE ID = #{id} AND VERSION = #{version}
    </update>
    <update id="enable" parameterType="java.util.Map">
        <foreach collection="collection" item="item" index="index" open="" close="" separator=";">
            UPDATE mdc_corporation
            <set>
                STATUS = 3,
                MODIFIER = #{modifier},
                MODIFIED = now(),
                VERSION = #{item.version} + 1
            </set>
            WHERE ID = #{item.id} AND VERSION = #{item.version}
        </foreach>
    </update>
    <update id="disable" parameterType="java.util.Map">
        <foreach collection="collection" item="item" index="index" open="" close="" separator=";">
            UPDATE mdc_corporation
            <set>
                STATUS = 1,
                MODIFIER = #{modifier},
                MODIFIED = now(),
                VERSION = #{item.version} + 1
            </set>
            WHERE ID = #{item.id} AND VERSION = #{item.version}
        </foreach>
    </update>
    <delete id="delete" parameterType="com.xiaoqiaoli.domain.CorporationDO">
        UPDATE mdc_corporation
        <set>
            STATUS = 0,
            MODIFIER = #{modifier},
            MODIFIED = now(),
            VERSION = #{version} + 1
        </set>
        WHERE ID = #{id} AND VERSION = #{version}
    </delete>
    <delete id="batchDelete" parameterType="java.util.Map">
        <foreach collection="collection" item="item" index="index" open="" close="" separator=";">
            UPDATE mdc_corporation
            <set>
                STATUS = 0,
                MODIFIER = #{modifier},
                MODIFIED = now(),
                VERSION = #{item.version} + 1
            </set>
            WHERE ID = #{item.id} AND VERSION = #{item.version}
        </foreach>
    </delete>
</mapper>