<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoqiaoli.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.xiaoqiaoli.domain.UserDO">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="REAl_NAME" property="realName" jdbcType="VARCHAR"/>
        <result column="SEX" property="sex" jdbcType="VARCHAR"/>
        <result column="BIRTHDAY" property="birthday" jdbcType="DATE"/>
        <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR"/>
        <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
        <result column="QQ" property="qq" jdbcType="VARCHAR"/>
        <result column="WX" property="wx" jdbcType="VARCHAR"/>
        <result column="WEI_BO" property="weiBo" jdbcType="VARCHAR"/>
        <result column="PHOTO" property="photo" jdbcType="VARCHAR"/>
        <result column="LEVEL" property="level" jdbcType="CHAR"/>
        <result column="STATUS" property="status" jdbcType="CHAR"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
        <result column="MODIFIER" property="modifier" jdbcType="VARCHAR"/>
        <result column="MODIFIED" property="modified" jdbcType="TIMESTAMP"/>
        <result column="VERSION" property="version" jdbcType="INTEGER"/>
        <association property="corporation" column="CORPORATION_ID" javaType="com.xiaoqiaoli.domain.CorporationDO">
            <result column="CORPORATION_ID" property="id" jdbcType="VARCHAR"></result>
            <result column="CORPORATION_NAME" property="name" jdbcType="VARCHAR"></result>
        </association>
        <association property="organization" column="ORGANIZATION_ID" javaType="com.xiaoqiaoli.domain.OrganizationDO">
            <result column="ORGANIZATION_ID" property="id" jdbcType="VARCHAR"></result>
            <result column="ORGANIZATION_NAME" property="name" jdbcType="VARCHAR"></result>
        </association>
    </resultMap>
    <select id="get" resultMap="BaseResultMap">
        SELECT
        T1.ID, T1.REAL_NAME, T1.SEX, T1.BIRTHDAY, T1.TELEPHONE, T1.EMAIL, T1.QQ, T1.WX, T1.WEI_BO, T1.PHOTO, T1.LEVEL,
        T1.STATUS, T1.CREATOR, T1.CREATED, T1.MODIFIER, T1.MODIFIED, T1.VERSION, T1.CORPORATION_ID, T1.ORGANIZATION_ID,
        T2.NAME AS CORPORATION_ID, T3.NAME AS ORGANIZATION_NAME
        FROM mdc_user T1
        INNER JOIN mdc_corporation T2 ON T1.CORPORATION_ID = T2.ID AND T2.STATUS = 1
        INNER JOIN mdc_organization T3 ON T1.ORGANIZATION_ID = T3.ID AND T3.STATUS = 1
        WHERE T1.ID = #{id}
        AND T1.STATUS = 1
    </select>
    <select id="getOne" resultMap="BaseResultMap" parameterType="com.xiaoqiaoli.domain.UserDO">
        SELECT
        T1.ID, T1.REAL_NAME, T1.SEX, T1.BIRTHDAY, T1.TELEPHONE, T1.EMAIL, T1.QQ, T1.WX, T1.WEI_BO, T1.PHOTO, T1.LEVEL,
        T1.STATUS, T1.CREATOR, T1.CREATED, T1.MODIFIER, T1.MODIFIED, T1.VERSION, T1.CORPORATION_ID, T1.ORGANIZATION_ID,
        T2.NAME AS CORPORATION_ID, T3.NAME AS ORGANIZATION_NAME
        FROM mdc_user T1
        INNER JOIN mdc_corporation T2 ON T1.CORPORATION_ID = T2.ID AND T2.STATUS = 1
        INNER JOIN mdc_organization T3 ON T1.ORGANIZATION_ID = T3.ID AND T3.STATUS = 1
        FROM mdc_user T1
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="email != null and email != ''">
                T1.EMAIL = #{email}
            </if>
            <if test="telephone != null and telephone != ''">
                AND T1.TELEPHONE = #{telephone}
            </if>
            <if test="qq != null and qq != ''">
                AND T1.QQ = #{qq}
            </if>
            <if test="wx != null and wx != ''">
                AND T1.WX = #{wx}
            </if>
            <if test="weiBo != null and weiBo != ''">
                AND T1.WEI_BO = #{weiBo}
            </if>
            AND T1.STATUS = 1
        </trim>
    </select>
    <select id="findByMultiIds" resultMap="BaseResultMap">
        SELECT
        ID, REAL_NAME, SEX, BIRTHDAY, TELEPHONE, EMAIL, QQ, WX, WEI_BO, PHOTO, LEVEL, STATUS, CREATOR, CREATED,
        MODIFIER, MODIFIED, VERSION
        FROM mdc_user
        WHERE ID IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND STATUS = 1
    </select>
    <select id="find" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        T1.ID, T1.REAL_NAME, T1.SEX, T1.BIRTHDAY, T1.TELEPHONE, T1.EMAIL, T1.QQ, T1.WX, T1.WEI_BO, T1.PHOTO, T1.LEVEL,
        T1.STATUS, T1.CREATOR, T1.CREATED, T1.MODIFIER, T1.MODIFIED, T1.VERSION, T1.CORPORATION_ID, T1.ORGANIZATION_ID,
        T2.NAME AS CORPORATION_ID, T3.NAME AS ORGANIZATION_NAME
        FROM mdc_user T1
        INNER JOIN mdc_corporation T2 ON T1.CORPORATION_ID = T2.ID AND T2.STATUS = 1
        INNER JOIN mdc_organization T3 ON T1.ORGANIZATION_ID = T3.ID AND T3.STATUS = 1
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="realName != null and realName != ''">
                T1.REAl_NAME LIKE CONCAT('%',#{realName},'%')
            </if>
            <if test="email != null and email != ''">
                AND T1.EMAIL = #{email}
            </if>
            <if test="telephone != null and telephone != ''">
                AND T1.TELEPHONE = #{telephone}
            </if>
            <if test="qq != null and qq != ''">
                AND T1.QQ = #{qq}
            </if>
            <if test="wx != null and wx != ''">
                AND T1.WX = #{wx}
            </if>
            <if test="weiBo != null and weiBo != ''">
                AND T1.WEI_BO = #{weiBo}
            </if>
            <if test="corporationId != null and corporationId != ''">
                AND T1.CORPORATION_ID = #{corporationId}
            </if>
            <if test="organizationId != null and organizationId != ''">
                AND T1.ORGANIZATION_ID = #{organizationId}
            </if>
            AND T1.STATUS = 1
        </trim>
    </select>
    <insert id="insert" parameterType="com.xiaoqiaoli.domain.UserDO">
        INSERT INTO mdc_user(
        ID, REAL_NAME, SEX, BIRTHDAY, TELEPHONE, EMAIL, QQ, WX, WEI_BO, PHOTO, LEVEL,
        <if test="corporation != null and corporation.id != null and corporation.id != ''">
        CORPORATION_ID,
        </if>
        <if test="organization != null and organization.id != null and organization.id != ''">
        ORGANIZATION_ID,
        </if>
        STATUS, CREATOR, CREATED, MODIFIER, MODIFIED, VERSION
        ) VALUES (
        #{id},
        #{realName},
        #{sex},
        #{birthday},
        #{telephone},
        #{email},
        #{qq},
        #{wx},
        #{weiBo},
        #{photo},
        #{level},
        <if test="corporation != null and corporation.id != null and corporation.id != ''">
            #{corporation.id},
        </if>
        <if test="organization != null and organization.id != null and organization.id != ''">
            #{organization.id},
        </if>
        #{status},
        #{creator},
        now(),
        #{modifier},
        now(),
        #{version}
        );
    </insert>
    <update id="update" parameterType="com.xiaoqiaoli.domain.UserDO">
        UPDATE mdc_user
        <set>
            REAl_NAME = #{realName},
            SEX = #{sex},
            BIRTHDAY = #{birthday},
            TELEPHONE = #{telephone},
            EMAIL = #{email},
            QQ = #{qq},
            WX = #{wx},
            WEI_BO = #{weiBo},
            PHOTO = #{photo},
            LEVEL = #{level},
            <if test="corporation != null and corporation.id != null and corporation.id != ''">
              CORPORATION_ID = #{corporation.id}
            </if>
            <if test="organization != null and organization.id != null and organization.id != ''">
              ORGANIZATION_ID = #{organization.id}
            </if>
            MODIFIER = #{modifier},
            MODIFIED = now(),
            VERSION = #{version} + 1
        </set>
        WHERE ID = #{id} AND VERSION = #{version}
    </update>
    <delete id="delete" parameterType="com.xiaoqiaoli.domain.UserDO">
        UPDATE mdc_user
        <set>
            STATUS = 0,
            MODIFIER = #{modifier},
            MODIFIED = now(),
            VERSION = #{version} + 1
        </set>
        WHERE ID = #{id} AND VERSION = #{version}
    </delete>
    <delete id="batchDelete" parameterType="java.util.Map">
        <foreach collection="collection" item="item" index="index" open="" close="" separator=";">
            UPDATE mdc_user
            <set>
                STATUS = 0,
                MODIFIER = #{modifier},
                MODIFIED = now(),
                VERSION = #{item.version} + 1
            </set>
            WHERE ID = #{item.id} AND VERSION = #{item.version}
        </foreach>
    </delete>
    <delete id="disConnectRole">
        DELETE FROM mdc_user_role
        WHERE USER_ID = #{userId};
    </delete>
</mapper>