<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoqiaoli.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.xiaoqiaoli.domain.UserDO">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="REAl_NAME" property="realName" jdbcType="VARCHAR"/>
        <result column="SEX" property="sex" jdbcType="VARCHAR"/>
        <result column="BIRTHDAY" property="birthday" jdbcType="DATE"/>
        <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR"/>
        <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
        <result column="QQ" property="qq" jdbcType="VARCHAR"/>
        <result column="WX" property="wx" jdbcType="VARCHAR"/>
        <result column="WEI_BO" property="weiBo" jdbcType="VARCHAR"/>
        <result column="PHOTO" property="photo" jdbcType="VARCHAR"/>
        <result column="LEVEL" property="level" jdbcType="CHAR"/>
        <result column="STATUS" property="status" jdbcType="CHAR"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="CREATED" property="created" jdbcType="TIMESTAMP"/>
        <result column="MODIFIER" property="modifier" jdbcType="VARCHAR"/>
        <result column="MODIFIED" property="modified" jdbcType="TIMESTAMP"/>
        <result column="VERSION" property="version" jdbcType="INTEGER"/>
    </resultMap>
    <select id="get" resultMap="BaseResultMap">
        SELECT T1.ID, T1.REAL_NAME, T1.SEX, T1.BIRTHDAY, T1.TELEPHONE, T1.EMAIL, T1.QQ, T1.WX,
        T1.WEI_BO,T1.PHOTO, T1.LEVEL, T1.STATUS, T1.CREATOR, T1.CREATED, T1.MODIFIER, T1.MODIFIED, T1.VERSION
        FROM MDC_USER T1
        WHERE T1.ID = #{id}
    </select>
    <select id="findByMultiIds" resultMap="BaseResultMap">
        SELECT T1.ID, T1.REAL_NAME, T1.SEX, T1.BIRTHDAY, T1.TELEPHONE, T1.EMAIL, T1.QQ, T1.WX,
        T1.WEI_BO,T1.PHOTO, T1.LEVEL, T1.STATUS, T1.CREATOR, T1.CREATED, T1.MODIFIER, T1.MODIFIED, T1.VERSION
        FROM MDC_USER T1
        WHERE T1.ID IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="findByRealName" resultMap="BaseResultMap">
        SELECT T1.ID, T1.REAL_NAME, T1.SEX, T1.BIRTHDAY, T1.TELEPHONE, T1.EMAIL, T1.QQ, T1.WX,
        T1.WEI_BO,T1.PHOTO, T1.LEVEL, T1.STATUS, T1.CREATOR, T1.CREATED, T1.MODIFIER, T1.MODIFIED, T1.VERSION
        FROM MDC_USER T1
        WHERE T1.REAl_NAME LIKE CONCAT('%',#{realName},'%')
    </select>
    <select id="find" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT T1.ID, T1.REAL_NAME, T1.SEX, T1.BIRTHDAY, T1.TELEPHONE, T1.EMAIL, T1.QQ, T1.WX,
        T1.WEI_BO,T1.PHOTO, T1.LEVEL, T1.STATUS, T1.CREATOR, T1.CREATED, T1.MODIFIER, T1.MODIFIED, T1.VERSION
        FROM MDC_USER T1
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="realName != null and realName != ''">
                T1.REAl_NAME LIKE CONCAT('%',#{realName},'%')
            </if>
            <if test="email != null and email != ''">
                AND T1.EMAIL = #{email}
            </if>
            <if test="telephone != null and telephone != ''">
                AND T1.TELEPHONE = #{telephone}
            </if>
            <if test="qq != null and qq != ''">
                AND T1.QQ = #{qq}
            </if>
            <if test="wx != null and wx != ''">
                AND T1.WX = #{wx}
            </if>
            <if test="weiBo != null and weiBo != ''">
                AND T1.WEI_BO = #{weiBo}
            </if>
        </trim>
    </select>
    <select id="getOne" resultMap="BaseResultMap">
        SELECT T1.ID, T1.REAL_NAME, T1.SEX, T1.BIRTHDAY, T1.TELEPHONE, T1.EMAIL, T1.QQ, T1.WX,
        T1.WEI_BO,T1.PHOTO, T1.LEVEL, T1.STATUS, T1.CREATOR, T1.CREATED, T1.MODIFIER, T1.MODIFIED, T1.VERSION
        FROM MDC_USER T1
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="email != null and email != ''">
                T1.EMAIL = #{email}
            </if>
            <if test="telephone != null and telephone != ''">
                AND T1.TELEPHONE = #{telephone}
            </if>
            <if test="qq != null and qq != ''">
                AND T1.QQ = #{qq}
            </if>
            <if test="wx != null and wx != ''">
                AND T1.WX = #{wx}
            </if>
            <if test="weiBo != null and weiBo != ''">
                AND T1.WEI_BO = #{weiBo}
            </if>
        </trim>
    </select>
    <insert id="insert">
        INSERT INTO MDC_USER(
        ID,
        REAl_NAME,
        SEX,
        BIRTHDAY,
        TELEPHONE,
        EMAIL,
        QQ,
        WX,
        WEI_BO,
        PHOTO,
        LEVEL,
        STATUS,
        CREATOR,
        CREATED,
        MODIFIER,
        MODIFIED,
        VERSION
        ) VALUES (
        #{id},
        #{realName},
        #{sex},
        #{birthday},
        #{telephone},
        #{email},
        #{qq},
        #{wx},
        #{weiBo},
        #{photo},
        #{level},
        #{status},
        #{creator},
        now(),
        #{modifier},
        now(),
        #{version}
        );
    </insert>
    <insert id="batchInsert">
        INSERT INTO MDC_ACCOUNT(
        ID,
        REAl_NAME,
        SEX,
        BIRTHDAY,
        TELEPHONE,
        EMAIL,
        QQ,
        WX,
        WEI_BO,
        PHOTO,
        LEVEL,
        STATUS,
        CREATOR,
        CREATED,
        MODIFIER,
        MODIFIED,
        VERSION
        ) VALUES
        <foreach collection="ts" item="item" index="index"
                 separator=",">
            (
            #{item.id},
            #{item.realName},
            #{item.sex},
            #{item.birthday},
            #{item.telephone},
            #{item.email},
            #{item.qq},
            #{item.wx},
            #{item.weiBo},
            #{item.photo},
            #{item.level},
            #{item.status},
            #{item.creator},
            now(),
            #{item.modifier},
            now(),
            #{item.version}
            )
        </foreach>
    </insert>
    <update id="update">
        UPDATE MDC_USER
        <set>
            REAl_NAME = #{realName},
            SEX = #{sex},
            BIRTHDAY = #{birthday},
            TELEPHONE = #{telephone},
            EMAIL = #{email},
            QQ = #{qq},
            WX = #{wx},
            WEI_BO = #{weiBo},
            PHOTO = #{photo},
            LEVEL = #{level},
            MODIFIER = #{modifier},
            MODIFIED = now(),
            VERSION = #{version} + 1
        </set>
        WHERE ID = #{id} AND VERSION = #{version}
    </update>
    <update id="batchUpdate">
        <foreach collection="ts" item="item" index="index" open="" close="" separator=";">
            UPDATE MDC_USER
            <set>
                REAl_NAME = #{item.realName},
                SEX = #{item.sex},
                BIRTHDAY = #{item.birthday},
                TELEPHONE = #{item.telephone},
                EMAIL = #{item.email},
                QQ = #{item.qq},
                WX = #{item.wx},
                WEI_BO = #{item.weiBo},
                PHOTO = #{item.photo},
                LEVEL = #{item.level},
                MODIFIER = #{item.modifier},
                MODIFIED = now(),
                VERSION = #{item.version} + 1
            </set>
            WHERE ID = #{item.id} AND VERSION = #{item.version}
        </foreach>
    </update>
    <delete id="delete">
        UPDATE MDC_USER
        <set>
            STATUS = 0,
            MODIFIER = #{modifier},
            MODIFIED = now(),
            VERSION = #{version} + 1
        </set>
        WHERE ID = #{id} AND VERSION = #{version}
    </delete>
    <delete id="batchDelete">
        <foreach collection="ts" item="item" index="index" open="" close="" separator=";">
            UPDATE MDC_USER
            <set>
                STATUS = 0,
                MODIFIER = #{modifier},
                MODIFIED = now(),
                VERSION = #{item.version} + 1
            </set>
            WHERE ID = #{item.id} AND VERSION = #{item.version}
        </foreach>
    </delete>
    <delete id="disConnectRole">
        DELETE FROM MDC_USER_ROLE
        WHERE USER_ID = #{userId};
    </delete>
</mapper>